body{
    background-color: lightgoldenrodyellow;
}
h1{
    text-decoration: underline purple;
    color: orange;
    text-align: center;

}

p.titulo{
    color: rgb(3, 3, 145);
    
}

div.end{
    background-color: yellow;
}
p.footer{
    text-align: center;
    color: blue;
}
p.nombre{
    color: red;

}